<%= form_with model: stone, local: true, class: "space-y-5" do |f| %>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">ゲーム名 ※必須</span>
      </div>
      <%= f.collection_select :game_id, @games, :id, :name, { include_blank: '登録済ゲーム名から選択' }, { class: 'select select-bordered  w-full max-w-xs' } %>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">目標数 ※必須</span>
      </div>
      <%= f.text_field :goal, placeholder: "石", class: "input input-bordered w-full max-w-xs" %>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">所持数 ※必須</span>
      </div>
      <%= f.text_field :current, placeholder: "石", class: 'input input-bordered w-full max-w-xs' %>
    </label>

    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">ログインボーナス</span>
      </div>
      <%= f.text_field :login, placeholder: "石", class: "input input-bordered w-full max-w-xs" %>
    </label>
  
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">デイリー</span>
      </div>
      <%= f.text_field :daily, placeholder: "石", class: 'input input-bordered w-full max-w-xs' %>
    </label>
    
    <%= f.submit "登録", class: 'btn btn-primary' %>
  <% end %>