<div class="mx-auto w-11/12 max-w-lg text-center my-10">
  <h1 class="mb-4 text-2xl font-bold">詳細内容</h1>
    <div class="text-end">
      <%= link_to '編集', edit_gacha_path(@gacha), class: 'btn btn-accent btn-sm' %>
      <%= link_to '削除',
              gacha_path(@gacha),
              class: 'btn btn-secondary btn-sm',
              data:  { turbo_method: :delete } %>
    </div>
  <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Game</th>
                    <th>Number</th>
                    <th>Amount</th>
                    <th>Memo</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @gacha.date.strftime('%m/%d') %></td>
                <td><%= @gacha.game.name %></td>
                <td><%= @gacha.number %>連</td>
                <td><%= @gacha.amount %>円</td>
                <td><%= @gacha.memo %></td>
                <td><%= image_tag(@gacha.image.url) if @gacha.image.present? %></td>
              </tr>
            </tbody>
        </table>
  </div>
</div>