<header>
  <nav class="flex items-center">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "link link-hover" %>
      <%= link_to "課金記録一覧", charges_path, class: "link link-hover" %>
      <%= link_to "課金記録作成", new_charge_path, class: "link link-hover" %>
      <%= link_to "ゲーム名登録", new_game_path, class: "link link-hover" %>
      <%= link_to "予算登録一覧", budgets_path, class: "link link-hover" %>
    <% else %>
      <%= link_to " ログイン", new_user_session_path, class: "link link-hover" %>
      <%= link_to "新規登録", new_user_registration_path, class: "link link-hover" %>
    <% end %>
  </nav>
</header>